<!DOCTYPE html>
<html lan="en"> 
    <head>
        <%- include('./partials/head', {title: 'TES Admin | Dashboard'}); %>
    </head>
    
    <body class="text-center">
        <%- include('./partials/navbar'); %>
        <h1> Hello, admin </h1>
        <a href="/admin/logout"> Logout </a>
        <%- include('./partials/scripts'); %>
    </body>
</html>

