<!DOCTYPE html>
<html lan="en">
    <head>
        <%- include('./partials/head', {title: 'TES Admin | Events'}); %>
    </head>
    <body>
        <%- include('./partials/navbar.ejs'); %>
        <h1> Welcome to Team </h1>

        <%- include('./partials/scripts'); %>
    </body>
</html>
