<div class="event">
    <div class="event-brief-info">
        <div class="event-brief-info-name"><%= event.name %></div>
        <div class="event-brief-info-time"><%= event.time %></div>
    </div>
    <div class="event-description">
        <div class="event-description-image"><img src="<%= event.image %>"></div>
        <div class="event-description-detail"><%= event.description %></div>
    </div>
</div>
