<footer class="footer-home">
    <div class="footer-home-right-footer">
        <div class="footer-home-right-footer-social-links">
            <ul>
                <li class="social-items"><a href="#"><img src="images/linkedin-logo.svg" alt="Error"></a></li>
                <li class="social-items"><a href="#"><img src="images/instagram-logo.svg" alt="Error"></a></li>
                <li class="social-items"><a href="#"><img src="images/facebook-logo.svg" alt="Error"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-home-bottom-footer">
        <div class="footer-home-bottom-footer-copyright">
            Copyright &copy; TES, IITD
        </div>
    </div>
    <div class="footer-home-top-footer">
        <div class="footer-home-top-footer-contact-us">
            Contact Us
        </div>
    </div>
    
    <div class="footer-home-left-footer">
        <div class="footer-home-left-footer-call-email">
            <div class="footer-home-left-footer-call-email-logo">
                <ul>
                    <li><a href="#"><img src="images/call-logo.svg" alt="Error"></a></li>
                    <li><a href="#"><img src="images/mail-logo.svg" alt="Error"></a></li>
                </ul>
            </div>
            <div class="footer-home-left-footer-call-email-text">
                <ul class=>
                    <li><a href="#" style="text-decoration: none;">+91 9999999999</a></li>
                    <li><a href="#" style="text-decoration: none;">tesiitd@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>