<footer class="footer">
    <div class="footer-top-element-contact-us">
        Contact Us
    </div>
    <div class="footer-left-element">
        <ul>
            <li>
                <a href="#">
                    <span><img src="icons/call.svg" alt="Contact Number"></span>
                    <span>+91 9999999999</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><img src="icons/email.svg" alt="Contact Email"></span>
                    <span>tesiitd@gmail.com</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-right-element">
        <ul>
            <li><a href="#"><img src="icons/linkedin.svg" alt="Linkedin"></a></li>
            <li><a href="#"><img src="icons/instagram.svg" alt="Instagram"></a></li>
            <li><a href="#"><img src="icons/facebook.svg" alt="Facebook"></a></li>
        </ul>
    </div>
    <div class="footer-bottom-element">
        Copyright &copy; TES, IITD
    </div>    
</footer>
