<nav class="navbar-home">
    <div class="navbar-home-title">tes</div>
    <div class="menu_btn">
        <div class="menu_btn-burger_icon"></div>
    </div>
</nav>

<!--Mask-->
<!-- <div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    Heading
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Travel</h2>

                    Divider
                    <hr class="hr-light">

                    Description
                    <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>
                    <button type="button" class="btn btn-outline-white">Read more<i class="fas fa-book ml-2"></i></button>

                </div>

            </div>

        </div>

    </div>

</div> -->
<!--/.Mask-->
