<div class="page">
    <div class="page-title">Events</div>
    <div class="event">
        <div class="event-brief-info">
            <div class="event-brief-info-name">Hello there!</div>
            <div class="event-brief-info-time">3-5pm Monday</div>
        </div>
        <div class="event-description">
            <div class="event-description-image"><img src="#"></div>
            <div class="event-description-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus facere, quod officiis nisi reprehenderit expedita aliquam dicta quisquam facilis dolorum quis fuga minima optio, cumque rerum distinctio quidem quasi! Nesciunt enim quia veritatis dignissimos quibusdam!</div>
            
        </div>
    </div>
</div>
