<div class="page">
    <%- include('../partials/pageTitle', { pageTitle: "Contact Us" }); %>
    
    <% if (Object.keys(generalSecretary).length > 0) { %>
        <%- include('../partials/teamDivision', { divisionTitle: "General Secretary", division: generalSecretary }); %>
    <% } %>
</div>
