<nav class="navbar-home">
    <div class="navbar-home-title">tes</div>
    <div class="menu_btn">
        <div class="menu_btn-burger_icon"></div>
    </div>
</nav>

<div class="home-header">

    <div>Textile</div>
    <div>Enginneering</div>
    <div>Society</div>

</div>

<section class="home-section-container">
    <div class="home-section-container-title">
        <div>ABOUT US</div>
    </div>
    <div class="home-section-container-para">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum veniam voluptatum incidunt tenetur itaque
            autem ad cum esse quos, doloribus explicabo tempore consequuntur non adipisci officiis ratione officia
            repellendus sunt sint perspiciatis quidem laudantium fuga possimus? Nihil repellendus eaque quibusdam
            assumenda a cumque voluptatem nisi, consectetur natus nam corrupti, ducimus, dicta impedit mollitia
            architecto rerum. Velit quae vitae ducimus alias, quis quibusdam quia ullam corporis corrupti. Deserunt unde
            distinctio sint? Accusamus itaque necessitatibus voluptate dolore vel omnis, repellendus veniam, ipsam nihil
            explicabo a. Repudiandae amet, fugiat incidunt saepe non rem consequatur mollitia velit! Assumenda
            architecto quia, nisi totam quae id.</p>
    </div>
    <div class="home-section-container-title">
        <div> WHAT WE DO</div>
    </div>
    <div class="home-section-container-para">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed ut aliquid atque sequi quos quia neque
            blanditiis quasi. Ex cum tempore asperiores nesciunt quod adipisci eligendi tenetur dolore quidem eius
            maxime exercitationem autem, explicabo quo obcaecati, deserunt iure id. Libero ea reiciendis explicabo
            doloremque, corporis cumque quibusdam repellendus. Expedita recusandae a nobis, nulla ipsa deleniti iure
            dignissimos ex. Eos eaque quis velit facilis, modi laboriosam doloribus sequi itaque nam vitae dignissimos
            perspiciatis iusto tenetur minima, deleniti eum error? Libero, officiis consequuntur quam, sapiente delectus
            recusandae facere officia reprehenderit exercitationem, tenetur amet dolor iure incidunt error similique
            quas nemo rem rerum.</p>
    </div>

</section>

<footer class="footer-home">
    <div class="footer-home-right-footer">
        <div class="footer-home-right-footer-social-links">
            <ul>
                <li class="social-items"><a href="#"><img src="images/linkedin-logo.png" alt="Error"></a></li>
                <li class="social-items"><a href="#"><img src="images/insta-logo.png" alt="Error"></a></li>
                <li class="social-items"><a href="#"><img src="images/facebook-logo.png" alt="Error"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-home-bottom-footer">
        <div class="footer-home-bottom-footer-copyright">
            Copyright @ TES, IITD
        </div>
    </div>
    <div class="footer-home-top-footer">
        <div class="footer-home-top-footer-contact-us">
            Contact Us
        </div>
    </div>
    <div class="footer-home-left-footer">
        <div class="footer-home-left-footer-call-email">
            <div class="footer-home-left-footer-call-email-logo">
                <ul>
                    <li><a href="#"><img src="images/call-logo.png" alt="Error"></a></li>
                    <li><a href="#"><img src="images/email-logo.png" alt="Error"></a></li>
                </ul>
            </div>
            <div class="footer-home-left-footer-call-email-text">
                <ul class=>
                    <li><a href="#" style="text-decoration: none;">+91 9999999999</a></li>
                    <li><a href="#" style="text-decoration: none;">tesiitd@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>