<nav class="nav">
  <ul class="menu-nav">
      <li class="menu-nav__item active">
          <a href="#" class="menu-nav__link">
              Home
          </a>
      </li>
      <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">
              Events
          </a>
      </li>
      <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">
              Faculty
          </a>
      </li>
      <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">
              Alumni
          </a>
      </li>
      <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">
              Students
          </a>
      </li>
      <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">
              TES Team
          </a>
      </li>
      <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">
              Contact Us
          </a>
      </li>
  </ul>
</nav>