<div class="splash">
    <h1 class="fade-in">TES</h1>


</div>
<script>
    const splash = document.querySelector('.splash');
    document.addEventListener('DOMContentLoaded', (e) => {
        setTimeout(() => {
            splash.classList.add('display-none');

        }, 2000);
    })
</script>