<div class="splash-screen">
    <div class="splash-screen-title">tes</div>
</div>

<script>
    window.onload = (e) => { 
        setTimeout(() => {
            document.querySelector('.splash-screen').classList.add('splash-screen-hidden');
        }, 2000);
    }
</script>
