.home-header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 15rem;
    z-index: -1;
    font-family:$font-family-Josefin-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    letter-spacing: 0.1em;
    color:$secondary-text-color;

    div{
        width:min-content;
    }
}


.home-section-container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: relative;
    z-index: -1;
    top: 18rem;
    margin-bottom: 24rem;

    &-title{
        width: max-content;
        height: 8rem;
        vertical-align: middle;
        align-content: center;
        background: #E1E1E1;
        margin-left: 4rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
    }

    &-para{
        position: relative;
        margin-left: 3rem;
        margin-right: 3rem;
        background: #EAE9E9;
        border-radius: 2rem;
        margin-bottom: 4rem;
        
    }
}

section div div {
   
    height: inherit;
    width: max-content;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 8rem;
   letter-spacing: 0.1em;
    text-transform: uppercase;
    font-feature-settings: "cpsp" on;
    color: #404040;
}

section div p{
    padding: 3rem 3rem;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #404040;

}

