<!DOCTYPE html>
<html>
	<%- include('partials/head', { title: "TES | IITD" }); %>
	<body>
		<%- include('partials/header'); %>		
		<%- include('layouts/contactUs', { generalSecretary: generalSecretary }); %>		
		<%- include('partials/footer'); %>		
	</body>
</html>
