<!DOCTYPE html>
<html>
	<%- include('partials/head', { title: "TES | IITD" }); %>
	<body>	
		<%- include('partials/header'); %>		
		<%- include('layouts/events', { eventList: eventList }); %>		
		<%- include('partials/footer'); %>		
	</body>
</html>