<!DOCTYPE html>
<html>
	<%- include('partials/head', { title: "TES | IITD"} ); %>
	<body>	
		<%- include('partials/header'); %>		
		<%- include('layouts/tesTeam', { hod: hod, generalSecretary: generalSecretary, coordinators: coordinators, executives: executives }); %>		
		<%- include('partials/footer'); %>		
	</body>
</html>