*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(131.27% 136.09% at 54.62% 52.98%, rgba(237, 104, 86, 0.83) 0%, #8F1F1F 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-screen-hidden {
  display: none;
}
.splash-screen-title {
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
}

.home-header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15rem;
  z-index: -1;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #404040;
}
.home-header div {
  width: min-content;
}

.home-section-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  position: relative;
  z-index: -1;
  top: 18rem;
  margin-bottom: 24rem;
}
.home-section-container-title {
  width: max-content;
  height: 8rem;
  vertical-align: middle;
  align-content: center;
  background: #E1E1E1;
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
.home-section-container-para {
  position: relative;
  margin-left: 3rem;
  margin-right: 3rem;
  background: #EAE9E9;
  border-radius: 2rem;
  margin-bottom: 4rem;
}

section div div {
  height: inherit;
  width: max-content;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 8rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: "cpsp" on;
  color: #404040;
}

section div p {
  padding: 3rem 3rem;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  text-align: justify;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #404040;
}

.navbar-home {
  background-color: #D2D2D2;
  position: fixed;
  width: 100vw;
  height: 12rem;
  top: 0;
  display: flex;
  z-index: -1;
}
.navbar-home-title {
  position: absolute;
  left: 4rem;
  top: 3rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 8rem;
  line-height: 5rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ED6856;
}

.menu_btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
.menu_btn-burger_icon {
  position: absolute;
  right: 2rem;
  top: 4rem;
  width: 90px;
  height: 14px;
  background-color: #ED6856;
  border-radius: 5px;
}
.menu_btn-burger_icon::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  height: 14px;
  width: 90px;
  background-color: #ED6856;
  border-radius: 5px;
}
.menu_btn-burger_icon::after {
  content: "";
  position: absolute;
  top: 2.5rem;
  height: 14px;
  width: 90px;
  background-color: #ED6856;
  border-radius: 5px;
}

.footer-home {
  position: relative;
  bottom: 0px;
  background-color: #ED6856;
  width: 100%;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.footer-home-right-footer-social-links {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8vh;
  height: 23vh;
  background: #7D1111;
  border-radius: 20px;
}
.footer-home-bottom-footer {
  align-items: baseline;
}
.footer-home-bottom-footer-copyright {
  text-align: center;
  position: absolute;
  width: -webkit-fill-available;
  height: auto;
  bottom: 3rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2rem;
  line-height: inherit;
  color: #FFFFFF;
}
.footer-home-top-footer-contact-us {
  position: absolute;
  left: 5rem;
  top: 6rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.2rem;
  line-height: inherit;
  color: #FFFFFF;
}
.footer-home-left-footer-call-email-logo ul {
  list-style: none;
  position: absolute;
  width: inherit;
  left: 27 rem;
  top: 11vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.2rem;
}
.footer-home-left-footer-call-email-logo li {
  margin-bottom: 2rem;
}
.footer-home-left-footer-call-email-logo img {
  width: 13rem;
  height: 9rem;
}
.footer-home-left-footer-call-email-text ul {
  list-style: none;
  position: absolute;
  width: inherit;
  left: 20rem;
  top: 12vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.2rem;
}
.footer-home-left-footer-call-email-text ul li {
  margin-bottom: 2.5vh;
}
.footer-home-left-footer-call-email-text ul li a {
  color: #FFFFFF;
}

.social-items img {
  height: 5.7vh;
  width: 10vw;
  margin: 0.5vh;
}

.social-items::marker {
  content: none;
}

/*# sourceMappingURL=styles.css.map */
