.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 2rem 4rem;
    background-color: $primary-color;
    font-family: $font-family-Roboto;;
    font-style: normal;
    font-weight: normal;
    color: $color-white;
    letter-spacing: 2px;
    position: relative;
    margin-top: -5rem;
    
    &-top-element-contact-us {
        font-size: 3rem;           
    }

    &-left-element {
        display: inline-block;
        padding: 2rem 1rem;

        ul {
            list-style: none;

            li {
                margin-bottom: 2rem;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 2.8rem;
                        color: $color-white;

                        img {
                            width: 5rem;
                            height: 5rem;
                            margin-right: 2rem;
                        }
                    }

                }
            }
        }
    }

    &-right-element {
        position: absolute;
        top: 4rem;
        right: 0;
        padding: 2rem;
        border-radius: 1.25rem;
        background-color: $secondary-color;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            
            li {
                margin-bottom: 1.5rem;

                &:last-child {
                    margin-bottom: 0;
                }
    
                a {
                    text-decoration: none;
        
                    img {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }

    &-bottom-element {
        text-align: center;
        font-size: 1.2rem;
    }
}
