.navbar {
    background-color:  $background-color-dark;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9.4rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 2;

    &-title {
        font-family:$font-family-Roboto;
        font-style : normal;
        font-weight : bold;
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: 0.1em;
        color: $primary-color;
    }

    &-menu-btn {

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    
        &-close {
    
            &-middle, &-top, &-bottom {
                width: 6.75rem;
                height: 0.88rem;
                background-color: $primary-color;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
            }
        
            &-top {
                margin-bottom: 0.75rem;
            }
        
            &-bottom {
                margin-top: 0.75rem;
            }
        }
    
        &-open {
    
            &-middle {
                display: none;
            }
    
            &-top {
                transform: translateY(1.19rem) rotate(45deg);
            }
        
            &-bottom {
                transform: translateY(-1.19rem) rotate(-45deg);      
            }
        }
    }
}
