$primary-color:#ED6856;
$secondary-color:#7D1111;;
$color-white:#FFFFFF;
$primary-title-color:#404040;
$navigation-item-color:#444444;
$background-color-dark: #D2D2D2;
$background-color-medium-dark: #EAE9E9;
$background-color-medium-light: #F3F3F3;
$background-color-light: #FDFDFD;
$font-family-Roboto:'Roboto', sans-serif;
$font-family-Lato:'Lato', sans-serif;
$font-family-Josefin-Sans:'Josefin Sans', sans-serif;

// F3F3F3, EAE9E9, E1E1E1, 
