$primary-color:#ED6856;
$primary-text-color:#FFFFFF;
$secondary-text-color:#404040;
$font-family-Roboto:'Roboto', sans-serif;
$font-family-Lato:'Lato', sans-serif;
$font-family-Josefin-Sans:'Josefin Sans', sans-serif;