$primary-color:#ED6856;
$secondary-color:#7D1111;;
$color-white:#FFFFFF;
$primary-title-color:#404040;
$background-color-dark: #D2D2D2;
$background-color-medium-dark: #E1E1E1;
$background-color-medium-light: #EAE9E9;
$background-color-light: #F3F3F3;
$font-family-Roboto:'Roboto', sans-serif;
$font-family-Lato:'Lato', sans-serif;
$font-family-Josefin-Sans:'Josefin Sans', sans-serif;
